.header__lang-link{

font-size: 24px;
line-height: 28px;
text-decoration-line: underline;
color: #FFFFFF;
padding:0;
margin: 46px 18px 0 18px;
transition: 0.3s;
}

.header__lang-link:hover{
    opacity: 0.8;
}


@media screen and (max-width: 767px) {
    .header__lang-link{
        margin: 30px 18px 0 18px;
        font-size: 18px;
        line-height: 20px; 
        
    }
}
