.photo-grid {
  padding: 0 0 92px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  min-width: 284px;
  min-height: 213px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    padding: 0 0 92px 0;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
    row-gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 0 0 88px 0;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 0 0 64px 0;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 12px;
  }
}
