.header__logo {
  width: 176px;
  height: 52px;
  margin: 28px 0 0 0;
  padding: 0;
  margin-right: auto;
  transition: 0.3s;
}

.header__logo:hover {
  opacity: 0.8;
}



@media screen and (max-width: 767px) {
  .header__logo {
    margin: 16px 0 0 0;
  }
}
