.footer__links {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  align-self: end;
  color: #FFFFFF;
  transition: 0.3s;
  text-decoration: none;
}

.footer__links:hover {
  opacity: 0.8;
}
